body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, sans-serif;
}

div#header {
  padding: 1px;
  background: #608;
  color: #fff;
}

div#header h1 {
  padding: 0.5em 2em;
  font-size: 1em;
  font-weight: normal;
}
div#header .small {
  font-size: 0.625em;
  color: #ccc;
}

div#dropZone {
  background: gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.6;
  visibility: hidden;
}

div.fileinfo {
  text-align: center;
}
div.fileinfo span {
  margin: 0 .2em;
  border-radius: 1em;
  padding: 0 .5em;
  background-color: #ccc;
  color: #608;
}